*
{
    margin: 0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(background.avif);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    align-items: center;
    justify-content: center;

}
.container{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: rgb(49, 6, 242);
    text-align: center;
    float: center;
    flex-basis: 100px;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.container h1{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    

}
.container button{
    background: transparent;
    border-radius:20px ;
    outline: none;
    padding: 12px 25px;
    color: rgb(250, 243, 243);
    transition: 0.5;
}
.container button:hover{
    background-color: black;
    color: antiquewhite;
}
.launch-time{
    display: flex;
}
.launch-time:hover{
    color: black;
}
.launch-time div{
flex-basis: 100px;
text-align: center;
flex-direction: column;
border: 20px;

}

.launch-time div p{
font-size: 60px;
margin-bottom: -14px;
}
